In [ ]:
import pandas as pd
import pandas_profiling

In [1]:
import pandas as pd

train_file = 'Dataset/Train.csv'
test_file = 'Dataset/Test.csv'

train_df = pd.read_csv(train_file)
test_df = pd.read_csv(test_file)

In [2]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 24 columns):
Employee_ID                  7000 non-null object
Gender                       7000 non-null object
Age                          6588 non-null float64
Education_Level              7000 non-null int64
Relationship_Status          7000 non-null object
Hometown                     7000 non-null object
Unit                         7000 non-null object
Decision_skill_possess       7000 non-null object
Time_of_service              6856 non-null float64
Time_since_promotion         7000 non-null int64
growth_rate                  7000 non-null int64
Travel_Rate                  7000 non-null int64
Post_Level                   7000 non-null int64
Pay_Scale                    6991 non-null float64
Compensation_and_Benefits    7000 non-null object
Work_Life_balance            6989 non-null float64
VAR1                         7000 non-null int64
VAR2                         6423 non-null float64
VAR3                         7000 non-null float64
VAR4                         6344 non-null float64
VAR5                         7000 non-null int64
VAR6                         7000 non-null int64
VAR7                         7000 non-null int64
Attrition_rate               7000 non-null float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB

In [3]:
train_df.describe()

,Age,Education_Level,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
count,6588.000000,7000.000000,6856.000000,7000.000000,7000.000000,7000.000000,7000.000000,6991.000000,6989.000000,7000.000000,6423.000000,7000.000000,6344.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,39.622799,3.187857,13.385064,2.367143,47.064286,0.817857,2.798000,6.006294,2.387895,3.098571,-0.008126,-0.013606,1.891078,2.834143,7.101286,3.257000,0.189376
std,13.606920,1.065102,10.364188,1.149395,15.761406,0.648205,1.163721,2.058435,1.122786,0.836377,0.989850,0.986933,0.529403,0.938945,1.164262,0.925319,0.185753
min,19.000000,1.000000,0.000000,0.000000,20.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-1.817600,-2.776200,1.000000,1.000000,5.000000,1.000000,0.000000
25%,27.000000,3.000000,5.000000,1.000000,33.000000,0.000000,2.000000,5.000000,1.000000,3.000000,-0.961200,-0.453700,2.000000,2.000000,6.000000,3.000000,0.070400
50%,37.000000,3.000000,10.000000,2.000000,47.000000,1.000000,3.000000,6.000000,2.000000,3.000000,-0.104800,-0.453700,2.000000,3.000000,7.000000,3.000000,0.142650
75%,52.000000,4.000000,21.000000,3.000000,61.000000,1.000000,3.000000,8.000000,3.000000,3.000000,0.751600,0.707500,2.000000,3.000000,8.000000,4.000000,0.235000
max,65.000000,5.000000,43.000000,4.000000,74.000000,2.000000,5.000000,10.000000,5.000000,5.000000,1.608100,1.868800,3.000000,5.000000,9.000000,5.000000,0.995900

In [4]:
train_df = train_df.fillna(0)
train_df

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,...,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,...,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,...,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,...,type2,1.0,3,-1.8176,-0.4537,0.0,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,...,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,EID_16328,F,23.0,5,Married,Franklin,Operarions,Behavioral,4.0,1,...,type3,3.0,1,0.7516,-0.4537,2.0,3,7,3,0.7839
6996,EID_8387,F,44.0,1,Married,Lebanon,R&D,Analytical,16.0,2,...,type3,3.0,2,-0.1048,-2.7762,2.0,4,8,4,0.1055
6997,EID_8077,F,49.0,3,Single,Springfield,IT,Directive,10.0,1,...,type2,4.0,2,-0.1048,-0.4537,2.0,4,8,3,0.7847
6998,EID_19597,F,47.0,3,Married,Washington,Sales,Behavioral,24.0,1,...,type0,2.0,4,0.7516,1.8688,2.0,3,6,3,0.4162
6999,EID_1640,F,58.0,3,Married,Franklin,IT,Directive,22.0,2,...,type2,3.0,3,-0.1048,-1.6150,3.0,4,5,3,0.0910

In [5]:
train_df.corr()['Attrition_rate'].sort_values(ascending=False)

Attrition_rate          1.000000
Work_Life_balance       0.021115
Post_Level              0.016402
growth_rate             0.014247
Time_since_promotion    0.013880
VAR3                    0.001245
VAR4                    0.001051
VAR6                   -0.003130
VAR5                   -0.004770
VAR1                   -0.008073
Education_Level        -0.008143
Age                    -0.008505
Travel_Rate            -0.012608
VAR7                   -0.015299
Pay_Scale              -0.015643
Time_of_service        -0.019863
VAR2                   -0.022906
Name: Attrition_rate, dtype: float64

In [6]:
train_df = train_df.drop(columns=['VAR3', 'VAR6', 'VAR5', 'VAR1', 'Education_Level', 'VAR4', 'Age'])

In [8]:
train_df.isna().sum()

Employee_ID                  0
Gender                       0
Relationship_Status          0
Hometown                     0
Unit                         0
Decision_skill_possess       0
Time_of_service              0
Time_since_promotion         0
growth_rate                  0
Travel_Rate                  0
Post_Level                   0
Pay_Scale                    0
Compensation_and_Benefits    0
Work_Life_balance            0
VAR2                         0
VAR7                         0
Attrition_rate               0
dtype: int64

In [9]:
categorical_values = train_df.select_dtypes('object')
categorical_values = categorical_values.drop(['Employee_ID'], axis=1)
categorical_values

,Gender,Relationship_Status,Hometown,Unit,Decision_skill_possess,Compensation_and_Benefits
0,F,Married,Franklin,IT,Conceptual,type2
1,M,Single,Springfield,Logistics,Analytical,type2
2,F,Married,Clinton,Quality,Conceptual,type2
3,F,Single,Lebanon,Human Resource Management,Behavioral,type2
4,F,Married,Springfield,Logistics,Conceptual,type3
...,...,...,...,...,...,...
6995,F,Married,Franklin,Operarions,Behavioral,type3
6996,F,Married,Lebanon,R&D,Analytical,type3
6997,F,Single,Springfield,IT,Directive,type2
6998,F,Married,Washington,Sales,Behavioral,type0
6999,F,Married,Franklin,IT,Directive,type2

In [10]:
dummies_categorical = pd.get_dummies(categorical_values)

In [11]:
dummies_categorical

,Gender_F,Gender_M,Relationship_Status_Married,Relationship_Status_Single,Hometown_Clinton,Hometown_Franklin,Hometown_Lebanon,Hometown_Springfield,Hometown_Washington,Unit_Accounting and Finance,...,Unit_Security,Decision_skill_possess_Analytical,Decision_skill_possess_Behavioral,Decision_skill_possess_Conceptual,Decision_skill_possess_Directive,Compensation_and_Benefits_type0,Compensation_and_Benefits_type1,Compensation_and_Benefits_type2,Compensation_and_Benefits_type3,Compensation_and_Benefits_type4
0,1,0,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,0,1,0,1,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
2,1,0,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
3,1,0,0,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,1,0,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,1,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
6996,1,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
6997,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0
6998,1,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0
6999,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [12]:
train_df

,Employee_ID,Gender,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR2,VAR7,Attrition_rate
0,EID_23371,F,Married,Franklin,IT,Conceptual,4.0,4,33,1,1,7.0,type2,3.0,0.7516,3,0.1841
1,EID_18000,M,Single,Springfield,Logistics,Analytical,5.0,4,36,0,3,6.0,type2,4.0,-0.9612,3,0.0670
2,EID_3891,F,Married,Clinton,Quality,Conceptual,27.0,3,51,0,2,8.0,type2,1.0,-0.9612,3,0.0851
3,EID_17492,F,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,56,1,3,8.0,type2,1.0,-1.8176,3,0.0668
4,EID_22534,F,Married,Springfield,Logistics,Conceptual,5.0,4,62,1,3,2.0,type3,3.0,0.7516,2,0.1827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,EID_16328,F,Married,Franklin,Operarions,Behavioral,4.0,1,20,1,2,6.0,type3,3.0,0.7516,3,0.7839
6996,EID_8387,F,Married,Lebanon,R&D,Analytical,16.0,2,59,0,2,4.0,type3,3.0,-0.1048,4,0.1055
6997,EID_8077,F,Single,Springfield,IT,Directive,10.0,1,59,1,2,3.0,type2,4.0,-0.1048,3,0.7847
6998,EID_19597,F,Married,Washington,Sales,Behavioral,24.0,1,21,1,5,8.0,type0,2.0,0.7516,3,0.4162
6999,EID_1640,F,Married,Franklin,IT,Directive,22.0,2,74,0,4,5.0,type2,3.0,-0.1048,3,0.0910

In [13]:
train_features_final = pd.concat([train_df, dummies_categorical], axis=1)

In [14]:
train_features_final

,Employee_ID,Gender,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,...,Unit_Security,Decision_skill_possess_Analytical,Decision_skill_possess_Behavioral,Decision_skill_possess_Conceptual,Decision_skill_possess_Directive,Compensation_and_Benefits_type0,Compensation_and_Benefits_type1,Compensation_and_Benefits_type2,Compensation_and_Benefits_type3,Compensation_and_Benefits_type4
0,EID_23371,F,Married,Franklin,IT,Conceptual,4.0,4,33,1,...,0,0,0,1,0,0,0,1,0,0
1,EID_18000,M,Single,Springfield,Logistics,Analytical,5.0,4,36,0,...,0,1,0,0,0,0,0,1,0,0
2,EID_3891,F,Married,Clinton,Quality,Conceptual,27.0,3,51,0,...,0,0,0,1,0,0,0,1,0,0
3,EID_17492,F,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,56,1,...,0,0,1,0,0,0,0,1,0,0
4,EID_22534,F,Married,Springfield,Logistics,Conceptual,5.0,4,62,1,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,EID_16328,F,Married,Franklin,Operarions,Behavioral,4.0,1,20,1,...,0,0,1,0,0,0,0,0,1,0
6996,EID_8387,F,Married,Lebanon,R&D,Analytical,16.0,2,59,0,...,0,1,0,0,0,0,0,0,1,0
6997,EID_8077,F,Single,Springfield,IT,Directive,10.0,1,59,1,...,0,0,0,0,1,0,0,1,0,0
6998,EID_19597,F,Married,Washington,Sales,Behavioral,24.0,1,21,1,...,0,0,1,0,0,1,0,0,0,0
6999,EID_1640,F,Married,Franklin,IT,Directive,22.0,2,74,0,...,0,0,0,0,1,0,0,1,0,0

In [15]:
train_features_final = train_features_final.drop(columns=categorical_values.columns.to_list())
train_features_final

,Employee_ID,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Work_Life_balance,VAR2,VAR7,...,Unit_Security,Decision_skill_possess_Analytical,Decision_skill_possess_Behavioral,Decision_skill_possess_Conceptual,Decision_skill_possess_Directive,Compensation_and_Benefits_type0,Compensation_and_Benefits_type1,Compensation_and_Benefits_type2,Compensation_and_Benefits_type3,Compensation_and_Benefits_type4
0,EID_23371,4.0,4,33,1,1,7.0,3.0,0.7516,3,...,0,0,0,1,0,0,0,1,0,0
1,EID_18000,5.0,4,36,0,3,6.0,4.0,-0.9612,3,...,0,1,0,0,0,0,0,1,0,0
2,EID_3891,27.0,3,51,0,2,8.0,1.0,-0.9612,3,...,0,0,0,1,0,0,0,1,0,0
3,EID_17492,4.0,3,56,1,3,8.0,1.0,-1.8176,3,...,0,0,1,0,0,0,0,1,0,0
4,EID_22534,5.0,4,62,1,3,2.0,3.0,0.7516,2,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,EID_16328,4.0,1,20,1,2,6.0,3.0,0.7516,3,...,0,0,1,0,0,0,0,0,1,0
6996,EID_8387,16.0,2,59,0,2,4.0,3.0,-0.1048,4,...,0,1,0,0,0,0,0,0,1,0
6997,EID_8077,10.0,1,59,1,2,3.0,4.0,-0.1048,3,...,0,0,0,0,1,0,0,1,0,0
6998,EID_19597,24.0,1,21,1,5,8.0,2.0,0.7516,3,...,0,0,1,0,0,1,0,0,0,0
6999,EID_1640,22.0,2,74,0,4,5.0,3.0,-0.1048,3,...,0,0,0,0,1,0,0,1,0,0

In [16]:
train_features_final = train_features_final.drop(['Employee_ID'], axis=1)
train_features_final

,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Work_Life_balance,VAR2,VAR7,Attrition_rate,...,Unit_Security,Decision_skill_possess_Analytical,Decision_skill_possess_Behavioral,Decision_skill_possess_Conceptual,Decision_skill_possess_Directive,Compensation_and_Benefits_type0,Compensation_and_Benefits_type1,Compensation_and_Benefits_type2,Compensation_and_Benefits_type3,Compensation_and_Benefits_type4
0,4.0,4,33,1,1,7.0,3.0,0.7516,3,0.1841,...,0,0,0,1,0,0,0,1,0,0
1,5.0,4,36,0,3,6.0,4.0,-0.9612,3,0.0670,...,0,1,0,0,0,0,0,1,0,0
2,27.0,3,51,0,2,8.0,1.0,-0.9612,3,0.0851,...,0,0,0,1,0,0,0,1,0,0
3,4.0,3,56,1,3,8.0,1.0,-1.8176,3,0.0668,...,0,0,1,0,0,0,0,1,0,0
4,5.0,4,62,1,3,2.0,3.0,0.7516,2,0.1827,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,4.0,1,20,1,2,6.0,3.0,0.7516,3,0.7839,...,0,0,1,0,0,0,0,0,1,0
6996,16.0,2,59,0,2,4.0,3.0,-0.1048,4,0.1055,...,0,1,0,0,0,0,0,0,1,0
6997,10.0,1,59,1,2,3.0,4.0,-0.1048,3,0.7847,...,0,0,0,0,1,0,0,1,0,0
6998,24.0,1,21,1,5,8.0,2.0,0.7516,3,0.4162,...,0,0,1,0,0,1,0,0,0,0
6999,22.0,2,74,0,4,5.0,3.0,-0.1048,3,0.0910,...,0,0,0,0,1,0,0,1,0,0

In [19]:
train_features_final.corr()['Attrition_rate'].sort_values(ascending=False)

Attrition_rate                       1.000000
Gender_M                             0.028544
Compensation_and_Benefits_type0      0.026905
Work_Life_balance                    0.021115
Decision_skill_possess_Conceptual    0.016568
Post_Level                           0.016402
Unit_Purchasing                      0.015279
Unit_Operarions                      0.015147
Hometown_Springfield                 0.014555
growth_rate                          0.014247
Time_since_promotion                 0.013880
Unit_R&D                             0.013868
Decision_skill_possess_Directive     0.013680
Compensation_and_Benefits_type1      0.010370
Relationship_Status_Single           0.009107
Unit_Sales                           0.007789
Compensation_and_Benefits_type2      0.005273
Unit_Marketing                       0.002422
Unit_Production                      0.001297
Unit_Security                        0.001183
Compensation_and_Benefits_type4      0.000460
Hometown_Washington                 -0.001122
Hometown_Clinton                    -0.001454
Decision_skill_possess_Analytical   -0.002822
Unit_Accounting and Finance         -0.002994
Unit_Quality                        -0.003355
Hometown_Franklin                   -0.004188
Unit_Human Resource Management      -0.005826
Hometown_Lebanon                    -0.008222
Relationship_Status_Married         -0.009107
Unit_Logistics                      -0.012071
Travel_Rate                         -0.012608
VAR7                                -0.015299
Pay_Scale                           -0.015643
Compensation_and_Benefits_type3     -0.017876
Time_of_service                     -0.019863
Unit_IT                             -0.022529
VAR2                                -0.022906
Decision_skill_possess_Behavioral   -0.027524
Gender_F                            -0.028544
Name: Attrition_rate, dtype: float64

In [20]:
test_df

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,4.0,type2,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,1.0,type2,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,8.0,type3,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2.0,type0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2.0,type2,4.0,4,1.6081,0.7075,2.0,2,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,EID_22547,F,32.0,3,Single,Franklin,Sales,Directive,3.0,3,...,6.0,type2,2.0,1,-0.1048,0.7075,1.0,4,7,4
2996,EID_10066,F,NaN,2,Single,Franklin,Marketing,Conceptual,10.0,2,...,9.0,type2,1.0,3,0.7516,0.7075,3.0,4,8,3
2997,EID_7126,F,60.0,4,Single,Lebanon,Logistics,Analytical,35.0,1,...,9.0,type3,3.0,3,-1.8176,-0.4537,NaN,4,8,4
2998,EID_4929,F,51.0,1,Married,Springfield,IT,Behavioral,23.0,1,...,6.0,type3,1.0,5,0.7516,-0.4537,2.0,3,9,2
2999,EID_24750,F,45.0,1,Single,Franklin,Sales,Directive,12.0,4,...,8.0,type4,4.0,3,0.7516,-0.4537,2.0,2,8,5

In [21]:
import xgboost as xgb
from bayes_opt import BayesianOptimization

dtrain = xgb.DMatrix(train_features_final.drop(['Attrition_rate'], axis=1), train_features_final['Attrition_rate'])

import warnings
warnings.simplefilter("ignore")

#Bayesian Optimization function for xgboost
#specify the parameters you want to tune as keyword arguments
def bo_tune_xgb(max_depth, gamma,learning_rate):
    
    params = {'max_depth': int(max_depth),
              'gamma': gamma,
              'learning_rate':learning_rate,
              'subsample': 0.8,
              'eta': 0.1,
              'eval_metric': 'rmse'}
    #Cross validating with the specified parameters in 5 folds and 70 iterations
    cv_result = xgb.cv(params, dtrain, num_boost_round=70, nfold=5)
    #Return the negative RMSE
    return -1.0 * cv_result['test-rmse-mean'].iloc[-1]

#Invoking the Bayesian Optimizer with the specified parameters to tune
xgb_bo = BayesianOptimization(bo_tune_xgb, {'max_depth': (3, 10),
                                             'gamma': (0, 1),
                                             'learning_rate':(0,1),
                                            })

#performing Bayesian optimization for 5 iterations with 8 steps of random exploration with an #acquisition function of expected improvement
xgb_bo.maximize(n_iter=5, init_points=8, acq='ei')

|   iter    |  target   |   gamma   | learni... | max_depth |
-------------------------------------------------------------
|  1        | -0.2094   |  0.1435   |  0.4934   |  9.029    |
|  2        | -0.1959   |  0.2268   |  0.2679   |  8.516    |
|  3        | -0.1874   |  0.9922   |  0.7465   |  9.384    |
|  4        | -0.1857   |  0.8225   |  0.9704   |  3.802    |
|  5        | -0.19     |  0.5478   |  0.6191   |  5.023    |
|  6        | -0.2034   |  0.2126   |  0.4688   |  8.227    |
|  7        | -0.1873   |  0.1179   |  0.04569  |  5.651    |
|  8        | -0.1868   |  0.8983   |  0.0385   |  9.786    |
|  9        | -0.3619   |  1.0      |  0.0      |  3.0      |
|  10       | -0.209    |  0.0      |  1.0      |  3.997    |
|  11       | -0.1871   |  1.0      |  1.0      |  5.09     |
|  12       | -0.3619   |  1.0      |  0.0      |  7.74     |
|  13       | -0.2502   |  0.0      |  1.0      |  5.626    |
=============================================================

In [23]:
params = xgb_bo.max['params']
params['max_depth'] = int(params['max_depth'])

In [24]:
xgbreg = xgb.XGBRegressor(**(params)).fit(train_features_final.drop(['Attrition_rate'], axis=1), train_features_final['Attrition_rate'])

In [25]:
xgbreg.predict(train_features_final.drop(['Attrition_rate'], axis=1))

array([0.18937618, 0.18937618, 0.18937618, ..., 0.18937618, 0.18937618,
       0.18937618], dtype=float32)

In [26]:
train_df.Attrition_rate.mean()

0.1893761285714282

In [27]:
from sklearn.metrics import mean_squared_error
import numpy as np

print(1 - np.sqrt(mean_squared_error(train_features_final['Attrition_rate'], xgbreg.predict(train_features_final.drop(['Attrition_rate'], axis=1)))))

0.8142599907777773

In [28]:
test_features = test_df.drop(columns=['VAR3', 'VAR6', 'VAR5', 'VAR1', 'Education_Level', 'VAR4', 'Age', 'Employee_ID'])
test_features

,Gender,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR2,VAR7
0,F,Single,Springfield,R&D,Conceptual,7.0,4,30,1,5,4.0,type2,1.0,-0.9612,4
1,M,Single,Lebanon,IT,Directive,41.0,2,72,1,1,1.0,type2,1.0,-0.9612,2
2,M,Married,Springfield,Sales,Directive,21.0,3,25,0,1,8.0,type3,1.0,-0.1048,3
3,M,Single,Washington,Marketing,Analytical,11.0,4,28,1,1,2.0,type0,4.0,-0.1048,3
4,F,Married,Franklin,R&D,Conceptual,12.0,4,47,1,3,2.0,type2,4.0,1.6081,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,F,Single,Franklin,Sales,Directive,3.0,3,38,1,3,6.0,type2,2.0,-0.1048,4
2996,F,Single,Franklin,Marketing,Conceptual,10.0,2,57,1,4,9.0,type2,1.0,0.7516,3
2997,F,Single,Lebanon,Logistics,Analytical,35.0,1,69,0,2,9.0,type3,3.0,-1.8176,4
2998,F,Married,Springfield,IT,Behavioral,23.0,1,30,0,2,6.0,type3,1.0,0.7516,2
2999,F,Single,Franklin,Sales,Directive,12.0,4,70,1,2,8.0,type4,4.0,0.7516,5

In [33]:
categorical_test = test_features.select_dtypes('object')
categorical_test_dummies = pd.get_dummies(categorical_test)
test_pre_final = pd.concat([test_features, categorical_test_dummies], axis=1)
test_pre_final

,Gender,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,...,Unit_Security,Decision_skill_possess_Analytical,Decision_skill_possess_Behavioral,Decision_skill_possess_Conceptual,Decision_skill_possess_Directive,Compensation_and_Benefits_type0,Compensation_and_Benefits_type1,Compensation_and_Benefits_type2,Compensation_and_Benefits_type3,Compensation_and_Benefits_type4
0,F,Single,Springfield,R&D,Conceptual,7.0,4,30,1,5,...,0,0,0,1,0,0,0,1,0,0
1,M,Single,Lebanon,IT,Directive,41.0,2,72,1,1,...,0,0,0,0,1,0,0,1,0,0
2,M,Married,Springfield,Sales,Directive,21.0,3,25,0,1,...,0,0,0,0,1,0,0,0,1,0
3,M,Single,Washington,Marketing,Analytical,11.0,4,28,1,1,...,0,1,0,0,0,1,0,0,0,0
4,F,Married,Franklin,R&D,Conceptual,12.0,4,47,1,3,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,F,Single,Franklin,Sales,Directive,3.0,3,38,1,3,...,0,0,0,0,1,0,0,1,0,0
2996,F,Single,Franklin,Marketing,Conceptual,10.0,2,57,1,4,...,0,0,0,1,0,0,0,1,0,0
2997,F,Single,Lebanon,Logistics,Analytical,35.0,1,69,0,2,...,0,1,0,0,0,0,0,0,1,0
2998,F,Married,Springfield,IT,Behavioral,23.0,1,30,0,2,...,0,0,1,0,0,0,0,0,1,0
2999,F,Single,Franklin,Sales,Directive,12.0,4,70,1,2,...,0,0,0,0,1,0,0,0,0,1

In [34]:
test_final = test_pre_final.drop(columns=categorical_test.columns.to_list())
test_final

,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Work_Life_balance,VAR2,VAR7,Gender_F,...,Unit_Security,Decision_skill_possess_Analytical,Decision_skill_possess_Behavioral,Decision_skill_possess_Conceptual,Decision_skill_possess_Directive,Compensation_and_Benefits_type0,Compensation_and_Benefits_type1,Compensation_and_Benefits_type2,Compensation_and_Benefits_type3,Compensation_and_Benefits_type4
0,7.0,4,30,1,5,4.0,1.0,-0.9612,4,1,...,0,0,0,1,0,0,0,1,0,0
1,41.0,2,72,1,1,1.0,1.0,-0.9612,2,0,...,0,0,0,0,1,0,0,1,0,0
2,21.0,3,25,0,1,8.0,1.0,-0.1048,3,0,...,0,0,0,0,1,0,0,0,1,0
3,11.0,4,28,1,1,2.0,4.0,-0.1048,3,0,...,0,1,0,0,0,1,0,0,0,0
4,12.0,4,47,1,3,2.0,4.0,1.6081,4,1,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3.0,3,38,1,3,6.0,2.0,-0.1048,4,1,...,0,0,0,0,1,0,0,1,0,0
2996,10.0,2,57,1,4,9.0,1.0,0.7516,3,1,...,0,0,0,1,0,0,0,1,0,0
2997,35.0,1,69,0,2,9.0,3.0,-1.8176,4,1,...,0,1,0,0,0,0,0,0,1,0
2998,23.0,1,30,0,2,6.0,1.0,0.7516,2,1,...,0,0,1,0,0,0,0,0,1,0
2999,12.0,4,70,1,2,8.0,4.0,0.7516,5,1,...,0,0,0,0,1,0,0,0,0,1

In [35]:
train_features_final

,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Work_Life_balance,VAR2,VAR7,Attrition_rate,...,Unit_Security,Decision_skill_possess_Analytical,Decision_skill_possess_Behavioral,Decision_skill_possess_Conceptual,Decision_skill_possess_Directive,Compensation_and_Benefits_type0,Compensation_and_Benefits_type1,Compensation_and_Benefits_type2,Compensation_and_Benefits_type3,Compensation_and_Benefits_type4
0,4.0,4,33,1,1,7.0,3.0,0.7516,3,0.1841,...,0,0,0,1,0,0,0,1,0,0
1,5.0,4,36,0,3,6.0,4.0,-0.9612,3,0.0670,...,0,1,0,0,0,0,0,1,0,0
2,27.0,3,51,0,2,8.0,1.0,-0.9612,3,0.0851,...,0,0,0,1,0,0,0,1,0,0
3,4.0,3,56,1,3,8.0,1.0,-1.8176,3,0.0668,...,0,0,1,0,0,0,0,1,0,0
4,5.0,4,62,1,3,2.0,3.0,0.7516,2,0.1827,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,4.0,1,20,1,2,6.0,3.0,0.7516,3,0.7839,...,0,0,1,0,0,0,0,0,1,0
6996,16.0,2,59,0,2,4.0,3.0,-0.1048,4,0.1055,...,0,1,0,0,0,0,0,0,1,0
6997,10.0,1,59,1,2,3.0,4.0,-0.1048,3,0.7847,...,0,0,0,0,1,0,0,1,0,0
6998,24.0,1,21,1,5,8.0,2.0,0.7516,3,0.4162,...,0,0,1,0,0,1,0,0,0,0
6999,22.0,2,74,0,4,5.0,3.0,-0.1048,3,0.0910,...,0,0,0,0,1,0,0,1,0,0

In [36]:
pred_test = xgbreg.predict(test_final)
pred_test

array([0.18937618, 0.18937618, 0.18937618, ..., 0.18937618, 0.18937618,
       0.18937618], dtype=float32)

In [37]:
test_df

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,4.0,type2,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,1.0,type2,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,8.0,type3,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2.0,type0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2.0,type2,4.0,4,1.6081,0.7075,2.0,2,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,EID_22547,F,32.0,3,Single,Franklin,Sales,Directive,3.0,3,...,6.0,type2,2.0,1,-0.1048,0.7075,1.0,4,7,4
2996,EID_10066,F,NaN,2,Single,Franklin,Marketing,Conceptual,10.0,2,...,9.0,type2,1.0,3,0.7516,0.7075,3.0,4,8,3
2997,EID_7126,F,60.0,4,Single,Lebanon,Logistics,Analytical,35.0,1,...,9.0,type3,3.0,3,-1.8176,-0.4537,NaN,4,8,4
2998,EID_4929,F,51.0,1,Married,Springfield,IT,Behavioral,23.0,1,...,6.0,type3,1.0,5,0.7516,-0.4537,2.0,3,9,2
2999,EID_24750,F,45.0,1,Single,Franklin,Sales,Directive,12.0,4,...,8.0,type4,4.0,3,0.7516,-0.4537,2.0,2,8,5

In [55]:
test_final = test_final.fillna(0)

In [56]:
submission = pd.DataFrame()
submission['Employee_ID'] = test_df['Employee_ID'].iloc[:]
submission['Attrition_rate'] = model.predict(StandardScaler().fit_transform(test_final))
submission

     Employee_ID  Attrition_rate
0      EID_22713        0.201567
1       EID_9658        0.343289
2      EID_22203        0.215056
3       EID_7652        0.185057
4       EID_6516        0.231423
...          ...             ...
2995   EID_22547        0.156351
2996   EID_10066        0.176520
2997    EID_7126        0.196348
2998    EID_4929        0.179281
2999   EID_24750        0.245468

[3000 rows x 2 columns]

In [57]:
submission.Attrition_rate.mean()

0.2064316727107158

In [58]:
submission.to_csv('Ans.csv', index=False)

In [41]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

x_train, X_test, y_train, y_test = train_test_split(train_features_final.drop(['Attrition_rate'], axis=1), train_features_final['Attrition_rate'],
                                                   test_size=0.2, random_state=42)

In [42]:
from sklearn.preprocessing import StandardScaler

x_train = StandardScaler().fit_transform(x_train)
X_test = StandardScaler().fit_transform(X_test)

In [50]:
model = RandomForestRegressor(n_jobs=-1)

estimators = np.arange(10, 200, 10)
scores = []
for n in estimators:
    model.set_params(n_estimators=n)
    model.fit(x_train, y_train)
    print(1 - np.sqrt(mean_squared_error(y_test, model.predict(X_test))), '\t', n)

0.7991869800900709 	 10
0.8046131169231068 	 20
0.8043364803655655 	 30
0.8061407268334414 	 40
0.8074397704640783 	 50
0.8089246456311612 	 60
0.8072999529287469 	 70
0.8097103162453982 	 80
0.807993920932054 	 90
0.8089316817604485 	 100
0.8085661934303194 	 110
0.8075885709780694 	 120
0.8085647206741458 	 130
0.8087091170573397 	 140
0.8088031083568855 	 150
0.8083797057203862 	 160
0.8091814605048273 	 170
0.8089418255603282 	 180
0.8077613734638953 	 190

In [ ]:
print(scores)

In [59]:
test_df

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,4.0,type2,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,1.0,type2,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,8.0,type3,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2.0,type0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2.0,type2,4.0,4,1.6081,0.7075,2.0,2,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,EID_22547,F,32.0,3,Single,Franklin,Sales,Directive,3.0,3,...,6.0,type2,2.0,1,-0.1048,0.7075,1.0,4,7,4
2996,EID_10066,F,NaN,2,Single,Franklin,Marketing,Conceptual,10.0,2,...,9.0,type2,1.0,3,0.7516,0.7075,3.0,4,8,3
2997,EID_7126,F,60.0,4,Single,Lebanon,Logistics,Analytical,35.0,1,...,9.0,type3,3.0,3,-1.8176,-0.4537,NaN,4,8,4
2998,EID_4929,F,51.0,1,Married,Springfield,IT,Behavioral,23.0,1,...,6.0,type3,1.0,5,0.7516,-0.4537,2.0,3,9,2
2999,EID_24750,F,45.0,1,Single,Franklin,Sales,Directive,12.0,4,...,8.0,type4,4.0,3,0.7516,-0.4537,2.0,2,8,5

In [62]:
test_df.Gender.hist()

ModuleNotFoundError: No module named 'matplotlib.artist'